body {
    background-image: url('../assets/pic1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-secret {
    background-color: rgb(146 0 91 / 54%);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(205, 4, 195, 0.1);
    padding: 30px;
    width: 80%;
    text-align:center;
}

h1 {
    
    font-size: 3rem;
    color: #ffff;
    margin-bottom:20px;
    font-weight: bold;
}

h3 {
    color: #ffffff;
    margin-bottom:20px;
    font-weight: bold;
}

p {
    
    color: #ffffff;
    text-decoration: #ffffff;
    margin-bottom:20px;
    font-weight: bold;
}

.form1-control {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid #e9a7d4;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form1-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form1-group label {
    color: #ffff;
}

.btn-logout {
    width: 100%;
    height: 50px;
    background-color: #b72584;
    color: rgb(245, 236, 236);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #e721a8;
}

@media (max-width: 768px) {
    container {
        padding: 20px;
        max-width: 300px;
    }
    h1 {
        font-size: 2.5rem;
    }
}